* {
    font-family: "Roboto";
}

body {
    background-color: #fff;
}

#pet-logo {
    width: 50px;
}

nav {
    background-color: #0079ff;
}

.navbar li {
    padding-left: 10px;
    font-size: 18px;
}

.navbar li a {
    color: #fff;
}

.navbar li a:hover {
    color: #d6d6d6;
}

.welcome-page-img-dog {
    width: 500px;
    border-radius: 5px;
}
.welcome-page-img-cat {
    height: 400px;
    border-radius: 5px;
}
.p-table {
    margin: 0;
}

.main-frame {
    margin-top: 10px;
}

.h1-header {
    text-align: center;
    margin: auto 0;
    border-radius: 10px;
}
.header-title {
    font-weight: 800;
}

.pacient-form label {
    font-weight: 600;
}
.gender-radio-option label {
    margin-right: 10px;
}
.back-button {
    margin: 20px 0;
}
.no-patients {
    margin: 20px 0;
}
