* {
    font-family: "Roboto";
}

body {
    background-color: #fff;
}

#pet-logo {
    width: 50px;
}

.navbar li {
    padding-left: 10px;
    font-size: 18px;
}

.welcome-page-img-dog {
    width: 500px;
    border-radius: 5px;
}
.welcome-page-img-cat{
    height: 400px;
    border-radius: 5px;
}
.p-table {
    margin: 0;
}
